<div class="centered">
  {{campaign.name}}
</div>
<mat-divider></mat-divider>
<mat-tab-group>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>menu</mat-icon>
      Kampagnen
    </ng-template>
      <div class="centered">
        <div class="campaign_select">
          <div>
            <div *ngFor="let c of campaigns" class="campaign">
              <button mat-raised-button color="accent" (click)="changeCampaign(c, false)" class="campaign_button">{{c.name}}</button>
              <div class="button_bar">
                <button mat-icon-button color="accent" (click)="setCampaignStatus(c, 2)" *ngIf="c.status == 0"><mat-icon>pause</mat-icon></button>
                <button mat-icon-button color="accent" (click)="setCampaignStatus(c, 0)" *ngIf="c.status == 2"><mat-icon>play_arrow</mat-icon></button>
                <button mat-icon-button color="accent" (click)="setCampaignStatus(c, 1)" *ngIf="c.status != 1 && c.status != 3"><mat-icon>sports_score</mat-icon></button>
                <button mat-icon-button color="warn" (click)="setCampaignStatus(c, 3)" *ngIf="c.status != 1 && c.status != 3"><mat-icon>delete</mat-icon></button>
              </div>
            </div>
          </div>
        </div>
      </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>payments</mat-icon>
      Transaktionen
    </ng-template>
      <table>
        <tr>
          <td>
            <div class="sidebar">
              <div class="gold">
                <mat-form-field>
                  <mat-label>Gold:</mat-label>
                  <input matInput type="number" name="gold" [ngModel]="campaign.gold" readonly>
                </mat-form-field>
                <mat-form-field>
                  <mat-label>Nach Transaktionen:</mat-label>
                  <input matInput type="number" name="projectedGold" [ngModel]="projectedGold" readonly>
                </mat-form-field>
              </div>
              <br><br>
              <button mat-flat-button extended color="primary" (click)="saveAll(true)">
                <mat-icon>save</mat-icon>
                Kampagne speichern
              </button>
              <div class="notes">
                <mat-form-field class="notes_text">
                  <mat-label>Notizen</mat-label>
                  <textarea matInput [(ngModel)]="campaign.notes" width="50"></textarea>
                </mat-form-field>
              </div>
            </div>
          </td>
          <td>
            <button mat-flat-button extended color="primary" (click)="addTransaction()">
              <mat-icon>add</mat-icon>
              Neue Transaktion
            </button>
            <div cdkDropList (cdkDropListDropped)="drop(transactions, $event)" class="transaction_list">
              <ng-container *ngFor="let t of transactions">
                <div cdkDrag [cdkDragDisabled]="transactions.length <= 1" cdkDragBoundary=".transaction_list">
                  <div class="drag_placeholder" *cdkDragPlaceholder></div>
                  <mat-expansion-panel class="transaction" [disabled]="t.subtransactions.length == 0" [(expanded)]="t.expanded">
                    <mat-expansion-panel-header>
                      <mat-form-field>
                        <mat-label>Transaktion</mat-label>
                        <input matInput type="text" [(ngModel)]="t.description" size="75" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <mat-form-field class="multiplier">
                        <mat-label>Anzahl</mat-label>
                        <input matInput type="number" [(ngModel)]="t.multiplier" (ngModelChange)="updateProjected()" min="1" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <mat-form-field class="amount">
                        <mat-label>Wert</mat-label>
                        <input matInput type="number" [(ngModel)]="t.amount" (ngModelChange)="updateProjected()" [readonly]="t.subtransactions.length > 0" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <mat-form-field class="full_amount">
                        <mat-label>Gesamt</mat-label>
                        <input matInput type="number" [ngModel]="round(t.amount*t.multiplier)" readonly (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <button mat-icon-button color="accent" (click)="addSubtransaction(t, $event)"><mat-icon>add</mat-icon></button>
                      <button mat-icon-button color="accent" (click)="save(t, $event)"><mat-icon>save</mat-icon></button>
                      <button mat-icon-button color="accent" (click)="executeTransaction(t, $event)"><mat-icon>checkmark</mat-icon></button>
                      <button mat-icon-button color="warn" (click)="removeTransaction(t)"><mat-icon>delete</mat-icon></button>
                      <div class="drag_handle" cdkDragHandle *ngIf="transactions.length > 1">
                        <svg width="24px" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                    </mat-expansion-panel-header>
                    <div class="subtransaction" *ngFor="let s of t.subtransactions">
                      <mat-form-field>
                        <mat-label>Transaktion</mat-label>
                        <input matInput type="text" [(ngModel)]="s.description" size="74" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <mat-form-field class="multiplier">
                        <mat-label>Anzahl</mat-label>
                        <input matInput type="number" [(ngModel)]="s.multiplier" (ngModelChange)="updateParent(t)" min="1" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <mat-form-field class="amount">
                        <mat-label>Wert</mat-label>
                        <input matInput type="number" [(ngModel)]="s.amount" (ngModelChange)="updateParent(t)" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <mat-form-field class="full_amount">
                        <mat-label>Gesamt</mat-label>
                        <input matInput type="number" [ngModel]="round(s.amount*s.multiplier)" readonly (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <button mat-icon-button color="warn" (click)="removeSubtransaction(t, s)"><mat-icon>delete</mat-icon></button>
                    </div>
                  </mat-expansion-panel>
                </div>
              </ng-container>
            </div>
          </td>
          <td>
            <div>
              <button mat-flat-button extended color="primary" (click)="addCommonTransaction()">
                <mat-icon>add</mat-icon>
                Neue Standardtransaktion
              </button>
              <div cdkDropList (cdkDropListDropped)="drop(common_transactions, $event)" class="common_transaction_list">
                <ng-container *ngFor="let t of common_transactions">
                  <div cdkDrag [cdkDragDisabled]="common_transactions.length <= 1" cdkDragBoundary=".common_transaction_list">
                    <div class="drag_placeholder" *cdkDragPlaceholder></div>
                    <mat-expansion-panel class="transaction" [disabled]="t.subtransactions.length == 0" [(expanded)]="t.expanded">
                      <mat-expansion-panel-header class="transaction">
                      <mat-form-field>
                        <mat-label>Transaktion</mat-label>
                        <input matInput type="text" [(ngModel)]="t.description" size="75" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <mat-form-field class="amount">
                        <mat-label>Wert</mat-label>
                        <input matInput type="number" [(ngModel)]="t.amount" [readonly]="t.subtransactions.length > 0" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <button mat-icon-button color="accent" (click)="addCommonSubtransaction(t, $event)"><mat-icon>add</mat-icon></button>
                      <button mat-icon-button color="accent" (click)="saveCommon(t, $event)"><mat-icon>save</mat-icon></button>
                      <button mat-icon-button color="accent" (click)="insertCommonTransaction(t, $event)"><mat-icon>checkmark</mat-icon></button>
                      <button mat-icon-button color="warn" (click)="removeCommonTransaction(t)"><mat-icon>delete</mat-icon></button>
                      <div class="drag_handle" cdkDragHandle *ngIf="common_transactions.length > 1">
                        <svg width="24px" fill="accent" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                    </mat-expansion-panel-header>
                    <div class="subtransaction" *ngFor="let s of t.subtransactions">
                      <mat-form-field>
                        <mat-label>Transaktion</mat-label>
                        <input matInput type="text" [(ngModel)]="s.description" size="74" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <mat-form-field class="amount">
                        <mat-label>Wert</mat-label>
                        <input matInput type="number" [(ngModel)]="s.amount" (ngModelChange)="updateCommonParent(t)" (click)="$event.stopPropagation()">
                      </mat-form-field>
                      <button mat-icon-button color="warn" (click)="removeCommonSubtransaction(t, s)"><mat-icon>delete</mat-icon></button>
                      </div>
                    </mat-expansion-panel>
                  </div>
                </ng-container>
              </div>
            </div>
            <div>
              <button mat-flat-button extended color="primary" (click)="addMonthlyTransaction()">
                <mat-icon>add</mat-icon>
                Neue monatliche Transaktion
              </button>
              <button mat-flat-button extended color="primary" (click)="insertMonthlyTransactions($event)">
                <mat-icon>checkmark</mat-icon>
                Monatliche Transaktionen ausführen
              </button>
              <div>
                <div cdkDropList (cdkDropListDropped)="drop(monthly_transactions, $event)" class="monthly_transaction_list">
                  <ng-container *ngFor="let t of monthly_transactions">
                    <div cdkDrag [cdkDragDisabled]="monthly_transactions.length <= 1" cdkDragBoundary=".monthly_transaction_list" class="monthly_transaction">
                    <div class="drag_placeholder" *cdkDragPlaceholder></div>
                      <mat-form-field>
                        <mat-label>Transaktion</mat-label>
                        <input matInput type="text" [(ngModel)]="t.description" size="50">
                      </mat-form-field>
                      <mat-form-field class="amount">
                        <mat-label>Wert</mat-label>
                        <input matInput type="number" [(ngModel)]="t.amount" (ngModelChange)="updateProjected()">
                      </mat-form-field>
                      <button mat-icon-button color="accent" (click)="saveMonthlyTransaction(t)"><mat-icon>save</mat-icon></button>
                      <button mat-icon-button color="warn" (click)="removeMonthlyTransaction(t)"><mat-icon>delete</mat-icon></button>
                      <div class="drag_handle" cdkDragHandle *ngIf="monthly_transactions.length > 1">
                        <svg width="24px" fill="accent" viewBox="0 0 24 24">
                          <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                          <path d="M0 0h24v24H0z" fill="none"></path>
                        </svg>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </td>
        </tr>
      </table>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>history</mat-icon>
      Historie
    </ng-template>
    <div *ngIf="transactions_executed.length == 0" class="centered">
      Keine ausgeführten Transaktionen vorhanden
    </div>
    <ng-container *ngFor="let t of transactions_executed.slice().reverse()">
      <div>
        <mat-expansion-panel class="executed" [disabled]="t.subtransactions.length == 0">
          <mat-expansion-panel-header class="executed">
            <mat-form-field>
              <mat-label>Transaktion</mat-label>
              <input matInput type="text" value="{{t.description}}" size="75" readonly>
            </mat-form-field>
            <mat-form-field class="multiplier">
              <mat-label>Anzahl</mat-label>
              <input matInput type="number" value="{{t.multiplier}}" readonly>
            </mat-form-field>
            <mat-form-field class="amount">
              <mat-label>Wert</mat-label>
              <input matInput type="number" value="{{t.amount}}" readonly>
            </mat-form-field>
            <mat-form-field class="full_amount">
              <mat-label>Gesamt</mat-label>
              <input matInput type="number" value="{{round(t.amount * t.multiplier)}}" readonly>
            </mat-form-field>
          </mat-expansion-panel-header>
          <div class="sub_executed" *ngFor="let s of t.subtransactions">
              <mat-form-field>
                <mat-label>Transaktion</mat-label>
                <input matInput type="text" value="{{s.description}}" size="74" readonly>
              </mat-form-field>
              <mat-form-field class="multiplier">
                <mat-label>Anzahl</mat-label>
                <input matInput type="number" value="{{s.multiplier}}" readonly>
              </mat-form-field>
              <mat-form-field class="amount">
                <mat-label>Wert</mat-label>
                <input matInput type="number" value="{{s.amount}}" readonly>
              </mat-form-field>
              <mat-form-field class="full_amount">
                <mat-label>Gesamt</mat-label>
                <input matInput type="number" value="{{round(s.amount*s.multiplier)}}" readonly>
              </mat-form-field>
          </div>
        </mat-expansion-panel>
      </div>
    </ng-container>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>warehouse</mat-icon>
      Inventar
    </ng-template>
    <div>
      <button mat-flat-button extended color="primary" (click)="addCommonItem()">
        <mat-icon>add</mat-icon>
        Neues Standarditem
      </button>
      <div cdkDropList (cdkDropListDropped)="drop(common_items, $event)" class="common_item_list">
        <ng-container *ngFor="let i of common_items">
          <div cdkDrag [cdkDragDisabled]="common_items.length <= 1" cdkDragBoundary=".common_item_list" class="common_item">
            <div class="drag_placeholder" *cdkDragPlaceholder></div>
              <mat-form-field>
                <mat-label>Item</mat-label>
                <input matInput type="text" [(ngModel)]="i.name" size="75" (click)="$event.stopPropagation()">
              </mat-form-field>
              <mat-form-field class="amount">
                <mat-label>Anzahl</mat-label>
                <input matInput type="number" [(ngModel)]="i.amount" (click)="$event.stopPropagation()">
              </mat-form-field>
              <button mat-icon-button color="accent" (click)="saveCommonItem(i, $event)"><mat-icon>save</mat-icon></button>
              <button mat-icon-button color="warn" (click)="removeCommonItem(i)"><mat-icon>delete</mat-icon></button>
              <div class="drag_handle" cdkDragHandle *ngIf="common_items.length > 1">
                <svg width="24px" fill="accent" viewBox="0 0 24 24">
                  <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                  <path d="M0 0h24v24H0z" fill="none"></path>
                </svg>
              </div>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <mat-icon>sailing</mat-icon>
      Schiffe
    </ng-template>
    <div class="centered">
      <ng-container *ngFor="let r of ranks">
        <mat-form-field class="salary">
          <mat-label>{{r.name}}</mat-label>
          <input matInput type="number" [(ngModel)]="r.salary" min="0" class="salary">
        </mat-form-field>
      </ng-container>
      <button mat-icon-button color="accent" (click)="saveRanks(true)"><mat-icon>save</mat-icon></button>
    </div>
    <mat-divider></mat-divider>
    <div>
      <button mat-flat-button extended color="primary" (click)="addShip()">
        <mat-icon>add</mat-icon>
        Neues Schiff
      </button>
      <br>
      <div cdkDropList (cdkDropListDropped)="drop(ships, $event)" class="ship_list">
        <ng-container *ngFor="let s of ships">
          <div cdkDrag [cdkDragDisabled]="ships.length <= 1" cdkDragBoundary=".ship_list" class="ship">
            <div class="drag_placeholder" *cdkDragPlaceholder></div>
            <mat-checkbox [(ngModel)]="s.active">Aktiv</mat-checkbox>
            <mat-form-field>
              <mat-label>Name</mat-label>
              <input matInput type="text" [(ngModel)]="s.name" size="50">
            </mat-form-field>
            <button mat-icon-button color="accent" (click)="saveShip(s)"><mat-icon>save</mat-icon></button>
            <button mat-icon-button color="accent" (click)="payShip(s, $event)"><mat-icon>add</mat-icon></button>
            <button mat-icon-button color="warn" (click)="removeShip(s)"><mat-icon>delete</mat-icon></button>
            <div class="drag_handle" cdkDragHandle *ngIf="ships.length > 1">
              <svg width="24px" fill="accent" viewBox="0 0 24 24">
                <path d="M10 9h4V6h3l-5-5-5 5h3v3zm-1 1H6V7l-5 5 5 5v-3h3v-4zm14 2l-5-5v3h-3v4h3v3l5-5zm-9 3h-4v3H7l5 5 5-5h-3v-3z"></path>
                <path d="M0 0h24v24H0z" fill="none"></path>
              </svg>
            </div>
            <br>
            <ng-container *ngFor="let r of ranks">
              <mat-form-field class="salary">
                <mat-label>{{r.name}}</mat-label>
                <input matInput type="number" [(ngModel)]="s.crew[r.id-1].count" min="0" class="salary">
              </mat-form-field>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>