@use '@angular/material' as mat;

$primary-palette: (
    50: #e2f6fe,
    100: #b6e7fd,
    200: #86d8fc,
    300: #59c8f9,
    400: #3bbcf9,
    500: #29b0f7,
    600: #26a1e8,
    700: #218ed4,
    800: #1e7dc0,
    900: #165d9e,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: rgba(black, 0.87),
        700: rgba(black, 0.87),
        800: rgba(black, 0.87),
        900: white
    )
);

$accent-palette: (
    50: #dafef6,
    100: #9ffbe6,
    200: #3cf8d6,
    300: #00f1c3,
    400: #00e6b4,
    500: #00dda6,
    600: #00cd97,
    700: #00ba84,
    800: #00a975,
    900: #008954,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: rgba(black, 0.87),
        700: rgba(black, 0.87),
        800: rgba(black, 0.87),
        900: white
    )
);

$warn-palette: (
    50: #fbe9e6,
    100: #fdceba,
    200: #fbae8e,
    300: #fa8f60,
    400: #f8783c,
    500: #f76214,
    600: #ec5c10,
    700: #df550a,
    800: #d14e06,
    900: #b94100,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: rgba(black, 0.87),
        500: rgba(black, 0.87),
        600: rgba(black, 0.87),
        700: rgba(black, 0.87),
        800: rgba(black, 0.87),
        900: white
    )
);

$bg-palette: (
    50: #e4e6ed,
    100: #bcc1d3,
    200: #9299b5,
    300: #697298,
    400: #4c5684,
    500: #2f3c72,
    600: #2a356a,
    700: #222d60,
    800: #1b2453,
    900: #10153d,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white
    )
);

$primary-qm: mat.define-palette($primary-palette, 300, 200, 400, 300);
$accent-qm: mat.define-palette($accent-palette, 200, 100, 400, 300);
$warn-qm: mat.define-palette($warn-palette, 600);
$bg-qm: mat.define-palette($bg-palette, 900, 600, 900, 700);
$input-qm: mat.define-palette($bg-palette, 200, 100, 300);

$typography-qm: mat.define-typography-config(
    $font-family: 'Helvetica',
    $button: mat.define-typography-level(15px, 15px, 600)
);

$quartiermeister-theme: mat.define-light-theme((
  color: (
    primary: $primary-qm,
    accent: $accent-qm,
    warn: $warn-qm,
    bg: $bg-qm,
    input: $input-qm,
  ),
  typography: $typography-qm,
));

@include mat.all-component-themes($quartiermeister-theme);

$input: #9299b5;
$bg: #10153d;
$bg-open: #165d9e;
$bg2: #1b2453;
$bg-open2: #1e7dc0;
$accent: #00ba84;
$empty: #dafef6;

@mixin list_element() {
    background-color: $bg;
    border: 1px solid ;
    border-radius: 10px;
}

@mixin transaction() {
    @include list_element;
    mat-expansion-panel-header {
        background-color: $bg;
        min-height: 70px;
    }
    .mat-expansion-panel-body {
        background-color: $bg;
    }
    .mat-expanded {
        background-color: $bg;
    }
    .mat-expansion-indicator::after {
        color: $accent;
    }
}

.common_item {
    @include list_element;
}

.ship {
    @include list_element;
}

.notes {
    background-color: $bg-open;
    border: 1px solid ;
    border-radius: 10px;
}

mat-expansion-panel {
    @include transaction;
    min-height: 60px;
    vertical-align: bottom;
}

.centered {
    display: flex;
    justify-content: center;
}

.campaign_select {
    width: 500px;
}

.campaign {
    @include list_element;
    width: 500px;
    height: 50px;
    display: flex;
    align-items: center;
}

.campaign_button {
    margin-top: auto;
    margin-bottom: auto;
}

.button_bar {
    margin-left: auto;
    margin-right: 0;
}

.transaction {
    @include transaction;
}

.transaction:hover {
    @include transaction;
    background-color: $bg-open;
}

.subtransaction {
    @include transaction;
    background-color: $bg2;
}

.executed {
    @include transaction;
}

.executed:hover {
    @include transaction;
    background-color: $bg-open2;
}

.sub_executed {
    @include transaction;
    background-color: $bg2;
}

.monthly_transaction {
    @include transaction;
}

.amount {
    width: 130px;
}

.full_amount {
    width: 150px;
}

.multiplier {
    width: 80px;
}

.salary {
    width: 85px;
    padding-right: 5px;
}

.sidebar {
    width: 350px;
}

.gold {
    width: 320px;
}

.notes_text {
    width: 100%;
    min-height: 100px;
}

.transaction_list {
    min-width: 800px;
    vertical-align: top;
}

.drag_handle {
    padding-top: 15px;
    display: inline;
}

.drag_placeholder {
    background: $empty;
    border: dotted 3px $bg;
    min-height: 60px;
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate items as they're being sorted. */
.cdk-drop-list-dragging .cdk-drag {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

/* Animate an item that has been dropped. */
.cdk-drag-animating {
    transition: transform 300ms cubic-bezier(0, 0, 0.2, 1);
}